body {
  background-color: #f0f7ff; 
  
}

.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 1rem; 
  margin-top: 1rem;
}

.buttonGroup button {
  padding: 0.75rem 1.5rem;  
  font-size: 1rem;
  border-radius: 8px;
}

.buttonGroup button.active {
  background-color: #007bff; 
  color: white;
  border: 2px solid #131313;
}

.buttonGroup button:hover {
  transform: scale(1.09);
  cursor: pointer;
}



.formLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}


.appContainer {
  display: flex;
  flex-direction: column;  
  align-items: center;     
  justify-content: center; 
  min-height: 60vh;       
  text-align: center;   
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 1.5rem;           
  margin-top: 4rem;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;         
}

.formGroup label,
.formGroup input,
.formGroup select {
  font-size: 1.3rem;  
  padding: 0.4rem 0.6rem;
}


.submitBtn {
  color: black;                
  padding: 0.6rem 1.2rem;
  border-radius: 6px;           
  font-size: 1rem; 
  font-weight: 600; 
  cursor: pointer;  
  
}

.submitBtn:hover {
  background-color: #0056b3;   
  transform: translateY(-2px);  
}


.resultContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1rem;
  background-color: #f8f9fa;
  padding: 1.5rem;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1); 
  margin-top: 2rem; 
  
}

.resultHeader {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.resultHeader p {
  font-size: 1.5rem;
  color: #333;
}

.resultHeader h2 {
  font-size: 1.7rem;
  font-weight: 600;
}

.resultContainer button {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.resultContainer button:hover {
  background-color: #e91414;
  transform: scale(1.09);
}

@media (max-width: 600px) {
  .app-container {
    padding: 1.2rem;
    max-width: 95%;
  }

  .formGroup {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

 .resultHeader p,
 .resultHeader h2 {
  font-size: 0.9rem;           
  }
  

  input,
  select {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

